html,body{
  height:100%;
}
body{
  display:flex;
  flex-direction:column;
  background:rgb(228,235,241);
  font-size: 10px;
}
.thumbnail{
  display: block;
  margin: 0;
  padding: 4px 10px;

  background: rgb(96,125,139);
  color: rgb(202,238,255);
}

.item{
  display: inline-block;
  min-width:120px;
  max-width: 120px;
  border:1px solid rgb(100%,100%,100%);
  border:1px solid rgba(100%,100%,100%,0.8);
}


.list{
  flex:0 1 auto;
  order: 2;
  display: flex;
  justify-content:space-between;
  list-style: none;
  padding:0;
  white-space:nowrap;
  overflow-x: auto;
}
.img{
  display:block;
  width: 120px;
  list-style: none;
  padding:0;
}
a{
  text-decoration:none;
}

.main-header{
  background: white;
  flex: 0 1 auto;
  text-align: center;
  text-transform:uppercase;
  font-size:30px;
}
.main-content{
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}
.detail-img-container{
  flex:1 1 auto;
  display: flex;
  justify-content:center;
  align-items:center;

}

.detail-img-frame{
  position:relative;
  text-align:center;
}
.detail-img{
  width:90%;
}
.detail-img-title{
  position: absolute;
  bottom:-16px;
  left:4px;
  color:white;
  font-size: 40px;
  text-shadow: rgba(0,0,0,0.8) 5px 5px 5px;
  font-style: italic;
}
