html,body{
  height:100%;
}
body{
  display:flex;
  flex-direction:column;
  background:rgb(228,235,241);
  font-size: 10px;
}
.thumbnail{
  display: block;
  margin: 0;
  padding: 4px 10px;

  background: rgb(96,125,139);
  color: rgb(202,238,255);
}

.item{
  display: inline-block;
  width:120px;
  border:1px solid rgb(100%,100%,100%);
  border:1px solid rgba(100%,100%,100%,0.8);
}

.item+.item{
  margin-top:10px;
}
.list{
  list-style: none;
  padding:0;
  white-space:nowrap;
  overflow-x: auto;
}
.img{
  display:block;
  width: 120px;
  list-style: none;
  padding:0;
}
a{
  text-decoration:none;
}

.main-header{
  background: white;
  flex:0 1 auto;
  text-align: center;
  text-transform:uppercase;
  font-size:30px;
}

.detail-img-container{

}

.detail-img{
  width:90%;
}
